@import "scss/_includes/variables",
        "scss/_includes/mixins";

.module-about {
  display: grid;
  column-gap: 5%;

  @media (min-width: $mobile-breakpoint) {
    grid-template-columns: 1fr 350px;

    &__title {
      grid-column: span 2;
    }
  }

  &__bio {
    padding-bottom: $section-spacing;
  }
}