<section class="module-about">
    <h2 class="module-about__title">About me</h2>
    <p class="module-about__bio fade-in">
      Hey there,<br>I’m Kevin a web developer from Germany. My framework of choice is <mark>WordPress</mark> with which I am building custom tailored solutions. Some of my work at various agencies include a web shop for insurance products with a complex premium calculation that is build on top of WooCommerce; a plugin to manage franchisees dynamically generated landing pages and an online video archive with a YouTube integration for a public broadcaster.<br>When not doing back end development I like programming component-based client-side applications using <mark>Preact</mark> and building tools to make development easier and less repetitive.
    </p>
    {% include modules/resume/view.html %}
</section>