<section class="module-about">
    <h2 class="module-about__title">About me</h2>
    <p class="module-about__bio fade-in">
      Hey there <span class="inline-emoji" aria-hidden="true">👋</span>,<br>I’m Kevin a web developer from Germany. My tools of choice are Preact, WordPress and CakePHP to create accessible applications.<br>Besides developing I like building tools to make development easier and less repetitive.<br>
      Check out my resume or click any of the links to find out more about me.<span class="cursor" aria-hidden="true">|</span>
    </p>
    {% include modules/resume/view.html %}
</section>