:focus-visible {
  outline: 2px dotted map-get($colors, "accent");
}

::selection {
  background: map-get($colors, "accent");
  color: map-get($colors, "gray-900");
}

* {
  @media (prefers-reduced-motion: no-preference) {
    transition: transform 1s ease-in-out,
      font-size 1s ease-in-out;
  }

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  font-size: 14px;
  background: map-get($colors, "gray-850");
}

body {
  margin: 0;
  background: map-get($colors, "gray-900");
  font-family: $font-family-base;
  line-height: 1.6;
  color: $text-color;
}

h1,
h2 {
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  margin-bottom: 1em;
  font-family: $font-family-heading;
  font-size: #{"clamp(20px, 1.5vw + 1rem, 23px)"};
  color: map-get($colors, "gray-300");
}

p {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 2;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

a,
button {
  color: $text-color;
  text-decoration: none !important;

  @media (prefers-reduced-motion: no-preference) {

    &:hover,
    &:focus {
      transition: all .3s ease;
    }
  }
}

.site-main {
  padding-top: $section-spacing;
  padding-bottom: $section-spacing;
}