@import "scss/_includes/variables",
        "scss/_includes/mixins";

.module-footer {
  @include display-font(10px);
  padding-top: ($section-spacing / 2);
  padding-bottom: ($section-spacing / 2);
  background: map-get($colors, "gray-850");
  color: $text-color;

  &__row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><circle cx="15" cy="20" r="3" fill="%23555"/></svg>');
    background-repeat: repeat-x;
  
    &:first-child {
      margin-top: 0;
    }
  }

  &__column {
    background: map-get($colors, "gray-850");

    &:first-child {
      padding-right: 1em;
    }

    &:last-child {
      padding-left: 1em;
    }
  }
}