.wrapper {
    width: 80%;
    max-width: 1140px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
  
.screen-reader-text {
    border: 0;
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute!important;
    width: 1px;
    word-wrap: normal!important;
}
  
.fade-in {
    @media (prefers-reduced-motion: no-preference) {
        animation: fade-in .9s;
    }
}