@import "scss/_includes/variables",
        "scss/_includes/mixins";

.module-resume {
  padding-bottom: $section-spacing;
  justify-self: center;
  
  @media (min-width: $mobile-breakpoint) {
    justify-self: end;
  }

  &__list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
  
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 26%;
      width: 30px;
      height: 30px;
      background: linear-gradient(to top, map-get($colors, "gray-900") 0%, rgba(map-get($colors, "gray-900"), 0) 100%);
    }
  }

  &__item  {
    display: flex;
    position: relative;
  
    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 114px;
      width: 5px;
      height: 100%;
      border-right: 1px double map-get($colors, "gray-300");
      border-left: 1px double map-get($colors, "gray-300");
    }
  }

  &__period {
    @include display-font(.8em);
    position: relative;
    min-width: 130px;
    padding-right: 30px;
    color: $text-color;
    text-align: right;
  
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 4px;
      right: 6px;
      width: 15px;
      height: 15px;
      background-color: map-get($colors, "gray-900");
      border: 1px solid map-get($colors, "gray-300");
      border-radius: 50%;
      box-shadow: 0 0 0 5px map-get($colors, "gray-900");
    }
  }

  &__details {
    margin-bottom: 30px;
    padding-left: 2px;
  }

  &__company {
    @include display-font(.8em);
    color: lighten(map-get($colors, "gray-300"), 11);
  }
}