@import "scss/_includes/variables",
        "scss/_includes/mixins";

.module-header {
  @include brick-wall(map-get($colors, "gray-850"));
  padding-top: 44px;
  padding-bottom: 44px;
  text-align: center;

  &__link {
    display: inline-block;
  }
}