@mixin brick-wall($color) {
  // @link http://lea.verou.me/css3patterns/#bricks
  background-image: linear-gradient(336deg, darken($color, 1%) 23px, transparent 23px),
    linear-gradient(156deg, $color 23px, transparent 23px),
    linear-gradient(336deg, $color 23px, transparent 23px),
    linear-gradient(156deg, $color 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

@mixin display-font($size: $font-size-base) {
  font-family: 'North', sans-serif;
  font-size: $size;
  letter-spacing: .09em;
}

@mixin film-noir-filter() {
  filter: grayscale(100%)
    contrast(200%)
    brightness(50%);
}

@mixin button() {
  background: none;
  border: 0;
  appearance: none;
  -webkit-touch-callout: none;
  user-select: none;
}

@mixin close-icon($size) {
  position: relative;
  width: $size;
  height: $size;

  &:hover,
  &:focus {
    &::before,
    &::after {
      background: $color-highlight;
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: ($size / 2);
    width: 2px;
    height: $size;
    background: $link-color;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}