---
layout: compress
---

{% include head.html %}
<body class="page-{{ page.name | remove: '.html' }}">
  {% include modules/header/view.html %}
  <main class="site-main">
    <div class="wrapper">
      <article>
        {{ content }}
      </article>
    </div>
  </main>
  {% include modules/footer/view.html %}
  <script type="module">
    {% capture inline_js %}
      {% include components/current-year.js %}
    {% endcapture %}
    {{ inline_js }}
    </script>
</body>
</html>