@import "scss/_includes/variables",
        "scss/_includes/mixins";

.button-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.button {
  @include display-font(.8em);
  position: relative;
  width: 100%;
  padding: 12px 24px;
  border: 1px solid map-get($colors, "gray-300");
  border-radius: 3px;
  text-align: center;
  isolation: isolate;

  @media (min-width: $mobile-breakpoint) {
    width: auto;
  }

  &::after {
    content: '';
    position: absolute;
    top: -6px;
    left: 4px;
    width: calc(100% - 8px);
    height: calc(100% + 12px);
    border: inherit;
    border-radius: inherit;
    background-color: inherit;
    z-index: -1;
  }

  &:hover,
  &:focus {
    background-color: $text-color;
    color: map-get($colors, "gray-900");
    border-color: map-get($colors, "gray-900");
  }
}